.header {
    height: 20%;
}

.drawer {
    // width: 100px;
    height: 80%;
    // margin: 10px;
    // border: 1px solid #555;

}

.footer {
    height: 10%;
}

.body {
    width: 100%;
    height: 100%;
    padding-top: 65px;
}


.sidebar {
    width: 200px;
    // height: 80%;
    background-color: antiquewhite;
}




// ----------------------------------------------------------------------------------

.by-navbar {
    background-color: white !important;
    box-shadow: var(--BY-box-shadowY);

    .by-navbar-container {
        position: relative;

        .by-brand {
            position: absolute;
            text-decoration: none;

            font-size: 1.5rem !important;
            margin-left: 15px;

            top: 0px;
            left: 20px;
            z-index: 9999;

            .by-brand-icon img {
                position: absolute;
                width: 70px;
                height: auto;
                text-decoration: none !important;
                // margin-top: -10px;

                top: 0px;
                left: 20px;
            }

            .by-brand-Bright {
                text-decoration: none !important;
                color: var(--Bright-Color);
                position: absolute;
                top: 6px;
                left: 70px;
            }

            .by-brand-Youth {
                text-decoration: none !important;
                color: var(--Youth-Color);
                position: absolute;
                top: 6px;
                left: 135px;
            }

            .by-brand-Org {
                text-decoration: none !important;
                color: var(--Org-Color);
                font-size: 0.95rem !important;
                position: absolute;
                top: 15px;
                left: 197px;
            }
        }

        .by-collapse {
            margin-left: 350px;
            font-size: 0.95rem !important;

            .by-navbar-nav {

                .by-nav-item {
                    margin-right: 30px;

                    .by-nav-link-menu {
                        position: relative;
                        // background: none;

                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2.5px !important;
                            background: var(--Bright-Color);
                            left: 0;
                            bottom: 0;

                            transform: scale(0, 1);
                            transition: transform 0.3s ease;
                        }

                        &:hover::after {
                            transform: scale(1, 1);
                        }
                    }

                    .by-bolder-font {
                        // color: green;
                        font-size: var(--BY-Text15);

                        &:hover {
                            color: var(--Bright-Color);
                            font-weight: 400;
                        }
                    }

                }

                .by-nav-useritem {
                    margin-left: 145px !important;

                    .registrationContainer {
                        margin-top: 5px;
                        margin-bottom: 0px;
                        padding: 0, 0, 100px, 0;

                        .registerButton {
                            position: relative;
                            text-decoration: none;
                            // text-align: center;
                            color: var(--Bright-Color) !important;
                            font-size: 1.05rem;
                            font-weight: 520;
                            // margin-left: 20px;
                            margin-right: 20px !important;
                            width: 70px;

                            &:hover {
                                font-weight: 600;
                                // background-color: var(--Bright-Dim-Color) !important;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 2.5px !important;
                                background: var(--Bright-Color);
                                left: 0;
                                bottom: 0;

                                transform: scale(0, 1);
                                transition: transform 0.3s ease;
                            }

                            &:hover::after {
                                transform: scale(1, 1);
                            }
                        }

                        .pipeSeparater {
                            text-decoration: none;
                            margin-right: 0 !important;
                            font-size: 0.95rem !important;
                        }

                        .loginButton {
                            position: relative;
                            text-decoration: none;
                            color: var(--Youth-Color);
                            text-align: center;
                            font-size: 1.05 rem;
                            font-weight: 520;
                            margin-left: 20px;
                            margin-right: 10px !important;
                            width: 70px;

                            &:hover {
                                font-weight: 600;
                                // background-color: var(--Bright-Dim-Color) !important;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 2.5px !important;
                                background: var(--Bright-Color);
                                left: 0;
                                bottom: 0;

                                transform: scale(0, 1);
                                transition: transform 0.3s ease;
                            }

                            &:hover::after {
                                transform: scale(1, 1);
                            }
                        }
                    }
                }

                .by-dropdown {
                    position: relative;
                    background: none;

                    .by-nav-link-dropdown {

                        &::after {
                            color: var(--Bright-Color);
                            font-weight: bold;

                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2.5px !important;
                            background: var(--Bright-Color);
                            bottom: 0;
                            left: 0;
                            transform: scale(0, 1);
                            transition: transform 0.3s ease;
                        }

                        &:hover:after {
                            transform: scale(1, 1);
                        }
                    }


                    .dropdown-menu {
                        border-radius: 0px !important;

                        .by-dropdown-link {
                            position: relative;
                            font-size: var(--BY-Text15) !important;
                            background: none;

                            &::after {
                                // background-color: rgb(211, 232, 249) !important;
                                color: var(--Youth-Color) !important;
                                // font-weight: bold;

                                position: absolute;
                                content: "";
                                width: 80%;
                                height: 2px !important;
                                background: var(--Bright-Color);
                                bottom: 0;
                                left: 10px;
                                // right: 10px;
                                transform: scale(0, 1);
                                transition: transform 0.3s ease;
                            }

                            &:hover::after {
                                transform: scale(1, 1);
                            }
                        }

                        .CourseCategoryDropDown {
                            color: var(--Bright-Color);
                            // font-weight: bold;
                            margin-left: 10px;
                        }
                    }

                }
            }
        }


    }
}