<br>


<p class="by-article-para">Chart of Accounts is a chronological list of all accounts. It shows any code numbers (if business uses codes to identify a transaction) and Balance amounts of the accounts.</p>

<p class="by-article-para">Chart of Accounts is used by businesses with computerized accounting system, as it provides on-time balances of each and every accounts. Business with manual recording system makes Trial Balance at every end of financial accounting period, or when required.</p>

<table class="by-table-OutsideBorder">
  <thead class="by-table-column-heading">
    <tr>
      <th class="by-table-column-heading">Account Code</th>
      <th class="by-table-column-heading">Account Type</th>
      <th class="by-table-column-heading">Account Name</th>
      <th class="by-table-column-heading">Description</th>
      <th class="by-table-column-heading">Balance (Rupees)</th>
    </tr>
  </thead>

<tbody class="by-table-cell">
 <tr>
  <td class="by-color-bright by-Text-Align-Center"><b>10001</b></td>  <td class="by-Text-Align-Center">ASSET</td>  <td>Cash</td>  <td>Cash in hand</td>  <td class="by-number-cell">5,000</td>
 </tr>


<tr><td class="by-color-bright by-Text-Align-Center "><b>10002</b></td>  <td class="by-Text-Align-Center">ASSET</td>  <td>Bank Account</td>  <td>Cash in Bank</td>  <td class="by-number-cell">7,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>20011</b></td>  <td class="by-Text-Align-Center">ASSET<td>Mr. A</td>  <td>Receivable from Mr. A<td class="by-number-cell">3,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>20012</b></td>  <td class="by-Text-Align-Center">ASSET<td>Mr. B</td>  <td>Receivable from Mr. B<td class="by-number-cell">4,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>20013</b></td>  <td class="by-Text-Align-Center">ASSET<td>XYZ Company</td>  <td>Receivable from XYZ Company<td class="by-number-cell">2,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>30010</b></td>  <td class="by-Text-Align-Center">EQUITY<td>Owner’s Equity</td>  <td><td class="by-number-cell">-21,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>30010</b></td>  <td class="by-Text-Align-Center">INCOME<td>Sales</td>  <td><td class="by-number-cell">-190,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>40010</b></td>  <td class="by-Text-Align-Center">COST OF GOODS SOLD<td>Purchases</td>  <td><td class="by-number-cell">110,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>50001</b></td>  <td class="by-Text-Align-Center">EXPENSE<td>Rent Expense</td>  <td><td class="by-number-cell">25,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>50002</b></td>  <td class="by-Text-Align-Center">EXPENSE<td>Salaries Expense</td>  <td><td class="by-number-cell">16,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>50003</b></td>  <td class="by-Text-Align-Center">EXPENSE<td>Advertising</td>  <td><td class="by-number-cell">8,000</td></tr>
<tr><td class="by-color-bright by-Text-Align-Center "><b>90001</b></td>  <td class="by-Text-Align-Center">RETAINED EARNING<td>Profit</td>  <td>Sales is Greater than Expenses<td class="by-number-cell">31,000</td></tr>

</tbody>

<tfoot class="by-table-cell by-bg-color-bright-light">
	<tr><td> </td>  <td><td class="by-color-bright"><b>Total</b></td>  <td><i>Must always be Zero</i><td class="by-number-cell by-color-bright"><b>0</b></td></tr>  
</tfoot>

</table>